# https://editorconfig.org/
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# https://pinterest.github.io/ktlint/1.3.0/rules/standard/
[*.{kt,kts}]
ktlint_code_style = android_studio
indent_size = 2
continuation_indent_size = 2
ij_kotlin_allow_trailing_comma = true
